.container {
    align-items: center;
    position: fixed;
    width:inherit;
    min-width:inherit;
    box-sizing: border-box;
    padding-top: 40px;
}

.container div {
    text-align: center;
    vertical-align: middle;
}